.menu {
    width: auto;
    height: 65px;

    justify-content: center;
    align-items: center;

    font-size: 14px;
    gap: 2px;

    border-block: 4px solid #ffffff;

    background: linear-gradient(to right, #0e3672, #0daaf3);
    display: flex;

}

.menu > a, a:active, a:visited {
    color: #ffffff;
    text-align: center;
    text-decoration: none;

    width: 100px;
    transition: 350ms;
}

a:hover {
    color: #62d5e9;
    transition: 350ms;
}

@media(max-width: 1330px){
    .menu {
        overflow-x: scroll;
        overflow-y: hidden;

        padding: 20px;

        justify-content: start;

        font-size: 10px;
        gap: 20px;
    }

    a, a:active, a:visited {
        width: 80px;
    }
}