.header {
    width: 100vw;
    height: 80px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    padding-inline: 40px;
    background: linear-gradient(to right, #0f49a0, #0a90ce);
    color: #ffffff;
}

.headerTitle {
    color: #ffffff;

    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 8px;

    text-decoration: none;

    cursor: pointer;
    transition: 200ms ease-in;
}

.headerTitle:hover {
    color: #5bcbff;
    transition: 300ms ease-in;
}

.itens {
    display: flex;
    margin-block: 5px;
    gap: 15px;
}

.itens > div {
    display: flex;
    font-weight: bold;
    gap: 2px;
    cursor: pointer;

    transition: 350ms ease-out;
}

.yt:hover {
    color: #ff3232;
    transition: 350ms ease-out;
}

.fb:hover {
    color: #4a91fc;
    transition: 350ms ease-out;
}

.tw:hover {
    color: #5bcbff;
    transition: 350ms ease-out;
}

.itens > div > i {
    margin: 2.2px;
    font-size: 18px;
}

@media(max-width: 650px){
    .headerTitle {
        font-size: 32px;
    }

    .headerItems {
        font-size: 12px;
    }

    i {
        transform: scale(0.8) translateY(-2.4px);
    }
}


@media(max-width: 500px){
    .headerTitle {
        font-size: 25px;
    }

    .headerItems {
        font-size: 8px;
        transform: translatey(10px);
    }

    i {
        transform: scale(0.6) translatey(-8px);
    }
}

@media(max-width: 400px){
    .header {
        height: 50px;
        padding-inline: 20px;
    }

    .headerTitle {
        font-size: 18px;
    }

    .headerItems {
        font-size: 8px;
        transform: translatey(6px);
    }

    .headerItems > h4 {
        display: none;
    }

    i {
        transform: scale(0.6) translatey(-8px);
    }
}