.news {
    padding-block: 25px;
    background: linear-gradient(to right, #0f49a0, #0a90ce);


}

.news > h1 {
    display: flex;
    font-size: 32px;
    justify-content: center;

    color: #ffffff;
    text-decoration: underline;
}

.slider {
    padding-block: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageMain {
    border-radius: 25px;

    width: 480px;
    height: 300px;

    box-shadow: 0 0 25px 10px;

    margin-inline: 10px;
    opacity: 1;
    transition: 350ms ease-out;
}

.imageMini {
    border-radius: 25px;

    width: 380px;
    height: 240px;

    box-shadow: 0 0 20px 5px;

    margin-bottom: 25px;
    opacity: 60%;
    transition: 350ms ease-out;
}

.imageFade {
    opacity: 0%;
    transition: 350ms ease-out;
}

.buttonImage {
    width: 22px;

    background: none;
    border: none;

    margin-inline: 10px;

    cursor: pointer;
}

@media(max-width: 1300px) {
    .imageMain {
        width: 400px;
        height: 250px;
    }

    .imageMini {
        width: 320px;
        height: 200px;
    }
}

@media(max-width: 1150px) {
    .imageMain {
        width: 340px;
        height: 220px;
    }

    .imageMini {
        width: 260px;
        height: 165px;
    }
}

@media(max-width: 970px) {
    .imageMain {
        width: 340px;
        height: 220px;
    }

    .imageMini {
        width: 260px;
        height: 165px;
        margin-bottom: 0px;
    }

    .imageSlider {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
    }

}

@media(max-width: 500px) {
    .imageMain {
        width: 300px;
        height: 180px;
    }

    .imageMini {
        width: 230px;
        height: 145px;
        margin-bottom: 0px;
    }

}